@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #030712;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/* Custom scrollbar for dropdown */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}